<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>COPECE</title>
        <link href="css/style.css" rel="stylesheet" type="text/css" />
    </head>
    <body >
       <table id="principal" width="100%" style="background-color: white">
           <tr>
               <td width="100%" >
                   <table width="100%">
                       <tr>
                           <td width="85%" style="vertical-align: top">
                               <table width="100%">
                                   <tr>
                                       <td width="80%" height="80px" style="background-color: #010A35; vertical-align: center; align-content: left">
                                           <img src="imgCopece/inicio_tit.png" style=""/>
                                       </td>
                                       <td width="10%" height="80px" style="background-color: #010A35; vertical-align: center; align-content: left">
{#                                           <h2 style="font-size:15px;margin-left: 0px;color: white">Jaime Mejia</h2>#}
                                       </td>
                                       <td width="10%" height="80px" style="background-color: #010A35; vertical-align: center; align-content: left">
                                           <div id="circle">
                                               <div id="text"><h2 style="font-size:15px;margin-left: 0px;color: white">JM</h2></div>
                                           </div>
                                       </td>
                                   </tr>
                                   <tr>
                                       <td colspan="3" width="100%" valign="top" style="background-color: #EDEDED">
                                           <div class="scrollable" style="overflow-y:auto;">
                                               <table style="background-color: #EDEDED; border-collapse: collapse;  border-radius: 8px;  overflow: hidden; width: 100%; height:100%">
                                                   <tr>
                                                       <td align="left" width="20px">
                                                           <img src="imgCopece/b_ver.png" style="margin-left:30px;width:20px"/>
                                                       </td>
                                                       <td align="left">
                                                           <h4>Información del Padre</h4>
                                                       </td>
                                                   </tr>
                                                   <tr>
                                                       <td colspan="2" align="center">
                                                           <div class="" style="width:90%; height:90%">
                                                                <table style="background-color: white; border-collapse: collapse;  border-radius: 8px;  overflow: hidden; width: 100%; height:100%">
                                                                    <tr height="100px">
                                                                        <td align="center">
                                                                            Datos Padre
                                                                        </td>
                                                                    </tr>
                                                                    
                                                                </table>
                                                            </div>
                                                       </td>
                                                   </tr>
                                                   
                                                   <tr>
                                                       <td align="left" width="20px">
                                                           <img src="imgCopece/b_ver.png" style="margin-left:30px;width:20px"/>
                                                       </td>
                                                       <td align="left">
                                                           <h4>Información de la Madre</h4>
                                                       </td>
                                                   </tr>
                                                   <tr>
                                                       <td colspan="2" align="center">
                                                           <div class="" style="width:90%; height:90%">
                                                                <table style="background-color: white; border-collapse: collapse;  border-radius: 8px;  overflow: hidden; width: 100%; height:100%">
                                                                    <tr height="100px">
                                                                        <td align="center">
                                                                            Datos Madre
                                                                        </td>
                                                                    </tr>
                                                                    
                                                                </table>
                                                            </div>
                                                       </td>
                                                   </tr>
                                                   <tr>
                                                       <td align="left" width="20px">
                                                           <img src="imgCopece/b_ver.png" style="margin-left:30px;width:20px"/>
                                                       </td>
                                                       <td align="left">
                                                           <h4>Información Representante Legál</h4>
                                                       </td>
                                                   </tr>
                                                   <tr>
                                                       <td colspan="2" align="center">
                                                           <div class="" style="width:90%; height:90%">
                                                                <table style="background-color: white; border-collapse: collapse;  border-radius: 8px;  overflow: hidden; width: 100%; height:100%">
                                                                    <tr height="100px">
                                                                        <td align="center">
                                                                            Datos Representante
                                                                        </td>
                                                                    </tr>
                                                                    
                                                                </table>
                                                            </div>
                                                       </td>
                                                   </tr>
                                                   <tr>
                                                       <td align="left" width="20px">
                                                           <img src="imgCopece/b_ver.png" style="margin-left:30px;width:20px"/>
                                                       </td>
                                                       <td align="left">
                                                           <h4>Información de los Estudiantes</h4>
                                                       </td>
                                                   </tr>
                                                   <tr>
                                                       <td colspan="2" align="center">
                                                           <div class="" style="width:90%; height:90%">
                                                                <table style="background-color: white; border-collapse: collapse;  border-radius: 8px;  overflow: hidden; width: 100%; height:100%">
                                                                    <tr height="100px">
                                                                        <td align="center">
                                                                            Datos Estudiante 1
                                                                        </td>
                                                                    </tr>
                                                                    
                                                                </table>
                                                            </div>
                                                       </td>
                                                   </tr>
                                               </table>
                                           </div>
                                       </td>
                                   </tr>
                               </table>
                           </td>
                       </tr>
                   </table>
               </td>
           </tr>
       </table>
    </body>

</html>

<script language="javascript" type="text/javascript">

</script>        