<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>COPECE</title>
        <link href="css/style.css" rel="stylesheet" type="text/css" />
    </head>
    <body >
       <table id="principal" width="100%" style="background-color: white">
           <tr>
               <td width="100%" >
                   <table width="100%">
                       <tr>
                           <td width="15%" valign="top" align="left">
                               <table width="100%">
                                   <tr>
                                       <td>
                                            <img src="imgCopece/logo.png" style="width:100%"/>
                                            <img src="imgCopece/line.png" style="width:100%"/>
                                            <br>
                                            <br>
                                            <br>
                                       </td>
                                   </tr>
                                   <tr>
                                       <td style="vertical-align: center">
                                           <a href="#" style="text-decoration: none">
                                               <div style="width:100%; height:100%">
                                                   <table><tr><td>
                                                   <img src="imgCopece/ico_ini.png" style="margin-left:10px"/>
                                                           </td><td><h4>Inicio</h4></td></tr></table>
                                                    <br>
                                               </div>
                                           </a>
                                       </td>
                                   </tr>
                                   <tr>
                                       <td style="vertical-align: center">
                                           <a href="#" style="text-decoration: none">
                                               <div style="width:100%; height:100%">
                                                   <table><tr><td>
                                                   <img src="imgCopece/ico_per.png" style="margin-left:10px"/>
                                                           </td><td><h4>Perfil</h4></td></tr></table>
                                                    <br>
                                               </div>
                                           </a>
                                       </td>
                                   </tr>
                                   <tr>
                                       <td style="vertical-align: center">
                                           <a href="#" style="text-decoration: none">
                                               <div style="width:100%; height:100%">
                                                   <table><tr><td>
                                                   <img src="imgCopece/ico_his.png" style="margin-left:10px"/>
                                                           </td><td><h4>Historial Pagos</h4></td></tr></table>
                                                    <br>
                                               </div>
                                           </a>
                                       </td>
                                   </tr>
                                   <tr>
                                       <td style="vertical-align: center">
                                           <a href="#" style="text-decoration: none">
                                               <div style="width:100%; height:100%">
                                                   <table><tr><td>
                                                   <img src="imgCopece/ico_sal.png" style="margin-left:10px"/>
                                                           </td><td><h4>Salir</h4></td></tr></table>
                                                    <br>
                                               </div>
                                           </a>
                                       </td>
                                   </tr>
                                   
                                </table>
                           </td>
                           <td width="85%" style="vertical-align: top">
                               <table width="100%">
                                   <tr>
                                       <td width="80%" height="80px" style="background-color: #010A35; vertical-align: center; align-content: left">
                                           <img src="imgCopece/confirmacion_tit.png" style="margin-left:20px"/>
                                       </td>
                                       <td width="10%" height="80px" style="background-color: #010A35; vertical-align: center; align-content: left">
                                           <h2 style="font-size:15px;margin-left: 0px;color: white">Jaime Mejia</h2>
                                       </td>
                                       <td width="10%" height="80px" style="background-color: #010A35; vertical-align: center; align-content: left">
                                           <div id="circle">
                                               <div id="text"><h2 style="font-size:15px;margin-left: 0px;color: white">JM</h2></div>
                                           </div>
                                       </td>
                                   </tr>
                                   <tr>
                                       <td colspan="3" align="center" width="100%" valign="top" style="background-color: #EDEDED">
                                           <div class="" style="width:500px; height:400px">
                                               <table style="background-color: white; border-collapse: collapse;  border-radius: 8px;  overflow: hidden; width: 100%; height:100%">
                                                   <tr height="100px">
                                                       <td align="center">
                                                           <h1>
                                                               CONFIRMACION DE PAGO
                                                           </h1>
                                                       </td>
                                                   </tr>
                                                   
                                               </table>
                                           </div>
                                       </td>
                                   </tr>
                               </table>
                           </td>
                       </tr>
                   </table>
               </td>
           </tr>
       </table>
    </body>

</html>

<script language="javascript" type="text/javascript">

</script>        