<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title></title>
        <link href="css/style.css" rel="stylesheet" type="text/css" />
    </head>
    <body >
       <table id="principal" width="100%" height="100%" style="background-color: white">
           <tr>
               <td width="100%" height="100%">
                   <table width="100%" height="100%">
                       <tr>
                           <td width="100%">
                               <table width="100%" height="100%">
                                   <tr>
                                       <td width="100%" height="80px" style="background-color: #010A35; vertical-align: center; align-content: left">
                                           <img src="imgCopece/login_tit.png" style=""/>
                                       </td>
                                   </tr>
                                   <tr>
                                       <td width="100%" height="580px" valign="top" style="background-color: #EDEDED">
                                           <div class="divcenter" style="width:90%; height:90%">
                                               <table style="background-color: white; border-collapse: collapse;  border-radius: 8px;  overflow: hidden; width: 100%; height:100%">
                                                   <tr height="100px">
                                                       <td align="center">
                                                           <h1 style="font-size: 40px">
                                                               BIENVENIDO
                                                           </h1>
                                                       </td>
                                                   </tr>
                                                   <tr height="50px">
                                                       <td align="left">
                                                           <h2 style="font-size: 36px">
                                                               Usuario
                                                           </h2>
                                                           <input style="margin-left: 80px" type="text"/>
                                                       </td>
                                                   </tr>
                                                   <tr height="50px">
                                                       <td align="left">
                                                           <h2 style="font-size: 36px">
                                                               Contraseña
                                                           </h2>
                                                           <input style="margin-left: 80px" type="text"/>
                                                       </td>
                                                   </tr>
                                                   <tr>
                                                       <td align="right">
                                                           <h3 style="font-size: 30px">¿ Olvidó su contraseña ?</h3>
                                                       </td>
                                                   </tr>
                                                   <tr>
                                                       <td align="center">
                                                           <button type="button">Ingresar</button>
                                                       </td>
                                                   </tr>
                                                   
                                               </table>
                                           </div>
                                       </td>
                                   </tr>
                               </table>
                           </td>
                       </tr>
                   </table>
               </td>
           </tr>
       </table>
    </body>

</html>

<script language="javascript" type="text/javascript">

</script>        