
h1 {
    font-family: 'Helvetica Neue', Verdana, Geneva, Arial, Helvetica, sans-serif;
    margin: 0;
    color: #FFFFFF;
    font-size: 27px;
    /*top:10px;*/

}
h1 i {
    color: #b29163;
    margin-left: 30px;
}
h2 {
    font-family: 'Helvetica Neue', Verdana, Geneva, Arial, Helvetica, sans-serif;
    margin-left: 80px;
    margin-top: 0;
    margin-bottom: 0;
    color:#8D8D8D;
    font-size: 17px;
}
h3 {
    font-family: 'Helvetica Neue', Verdana, Geneva, Arial, Helvetica, sans-serif;
    margin-right: 70px;
    margin-top: 0;
    margin-bottom: 0;
    color:#000;
    font-size: 15px;
}
h4 {
    font-family: 'Helvetica Neue', Verdana, Geneva, Arial, Helvetica, sans-serif;
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 0;
    color:#010A35;
    font-size: 20px;
}
h5 {
    font-family: 'Helvetica Neue', Verdana, Geneva, Arial, Helvetica, sans-serif;
    margin-left: 5px;
    margin-top: 0;
    margin-bottom: 0;
    color:#8D8D8D;
    font-size: 12px;
}
h6 {
    font-family: 'Helvetica Neue', Verdana, Geneva, Arial, Helvetica, sans-serif;
    margin-left: 0px;
    margin-top: 0;
    margin-bottom: 0;
    color:#FFF;
    font-size: 12px;
}

p {
    text-align : justify;
}

.divcenter {
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



html, body{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 auto;
}



tbody{
    margin: 0;
    padding: 0;
    border:0;    
}
tbody tr{
    margin: 0;
    padding: 0;
    border:0;    
}
tbody tr td{
    margin: 0;
    padding: 0;
    border:0;    
}
table{
    height: 100%;
    margin: 0;
    padding: 0;
    border:0;    
    border-spacing: 0;
}
table tr{
    margin: 0;
    padding: 0;
    border:0;    
}
table tr td{
    margin: 0;
    padding: 0;
    border:0;
}

#circle {
  position: relative;
  background-color: #9E997B;
  margin: 20px auto;
  width: 40px;
  height: 40px;
  border-radius: 20px;
}
#text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.scrollable {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
}



